.idea/
bin
.settings
logs
reports
*.class
*.iml
.classpath
.project
*~
.vscode

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
targets/
documentation/docs-gen

consumer-test/**/workspace

*.code-workspace
.factorypath

debug.test
/cache/protecode

# build artifacts
/piper
/piper.exe
/piper_master
/piper_master.exe
/jenkins-library
/jenkins-library.exe
node_modules/

# piper binary outputs
.pipeline/commonPipelineEnvironment/
.pipeline/influx/
.pipeline/stepReports/
*errorDetails.json
*_links.json
*_reports.json

# Result files
ATCResults.xml
AUnitResults.xml
ATCResults.html
AUnitResults.html
cmd/.pipeline/stepReports/
cmd/checkmarx/piper_checkmarx_report.json
cmd/checkmarx/piper_checkmarx_report.html
cmd/fortify/piper_fortify_report.html
cmd/fortify/piper_fortify_report.json
cmd/toolruns
