_out
*.db
connection.properties
default-*.json
node_modules/
package-lock.json
target/
.che/
.gen/
*_mta_build_tmp
*.mtar
mta_archives/
Makefile_*.mta
.DS_Store
*.orig
*.log
.pipeline
mtaBuild_errorDetails.json
test-mta-js.mtar
.nyc_output/
s4hana_pipeline
