# This file can be omitted in the project if it is ensured
# that the corresponding configuration is provided on a
# higher level in the npm config (either on user level ~/.npmrc or
# globally). For more details with regards to configuring npm check
# man pages for npm-config/npmrc

# The public npm registry from where to fetch e.g. Grunt
registry=https://registry.npmjs.org

# The SAP npm registry from where to fetch SAP specific Grunt modules
@sap:registry=https://npm.sap.com
