**/credentials.*
application/target/
integration-tests/target
unit-tests/target
/s4hana_pipeline
**/*.log
**/*.trc
**/.settings/
**/.project
**/.classpath
**/.idea
**/*.iml
**/.vscode
**/node_modules
**/.DS_Store
.pipeline/commonPipelineEnvironment
.flattened-pom.xml
application/.flattened-pom.xml
unit-tests/.flattened-pom.xml
