site_name: 'Project "Piper": Continuous Delivery for the SAP Ecosystem'
nav:
    - Home: index.md
    - 'Getting Started With Project "Piper"' : guidedtour.md
    - Configuration: configuration.md
    - 'Pipelines':
        - 'General purpose pipeline':
            - 'Introduction': stages/introduction.md
            - 'Examples': stages/examples.md
            - 'Stages':
                - 'Init Stage': stages/init.md
                - 'Pull-Request Voting Stage': stages/prvoting.md
                - 'Build Stage': stages/build.md
                - 'Additional Unit Test Stage': stages/additionalunittests.md
                - 'Integration Stage': stages/integration.md
                - 'Acceptance Stage': stages/acceptance.md
                - 'Security Stage': stages/security.md
                - 'Performance Stage': stages/performance.md
                - 'Compliance': stages/compliance.md
                - 'Confirm Stage': stages/confirm.md
                - 'Promote Stage': stages/promote.md
                - 'Release Stage': stages/release.md
        - 'SAP Cloud SDK pipeline':
            - 'Introduction': pipelines/cloud-sdk/introduction.md
            - 'Build Tools': pipelines/cloud-sdk/build-tools.md
            - 'Cloud Qualities': pipelines/cloud-sdk/cloud-qualities.md
    - 'Scenarios':
        - 'Build and Deploy Hybrid Applications with Jenkins and SAP Solution Manager': scenarios/changeManagement.md
        - 'Build and Deploy SAP UI5 or SAP Fiori Applications on SAP Cloud Platform with Jenkins': scenarios/ui5-sap-cp/Readme.md
        - 'Build and Deploy Applications with Jenkins and the SAP Cloud Application Programming Model': scenarios/CAP_Scenario.md
        - 'Integrate SAP Cloud Platform Transport Management Into Your CI/CD Pipeline': scenarios/TMS_Extension.md
        - 'Build and Deploy SAP Fiori Applications on SAP HANA XS Advanced': scenarios/xsa-deploy/Readme.md
        - 'Build an SAP Fiori Application and Attach It to a Transport Request on an ABAP System with Jenkins': scenarios/upload-to-transportrequest/Readme.md
    - Extensibility: extensibility.md
    - 'Library steps':
        - abapEnvironmentPullGitRepo: steps/abapEnvironmentPullGitRepo.md
        - abapEnvironmentRunATCCheck: steps/abapEnvironmentRunATCCheck.md
        - artifactPrepareVersion: steps/artifactPrepareVersion.md
        - batsExecuteTests: steps/batsExecuteTests.md
        - buildExecute: steps/buildExecute.md
        - checkChangeInDevelopment: steps/checkChangeInDevelopment.md
        - checkmarxExecuteScan: steps/checkmarxExecuteScan.md
        - checksPublishResults: steps/checksPublishResults.md
        - cfManifestSubstituteVariables: steps/cfManifestSubstituteVariables.md
        - cloudFoundryCreateService: steps/cloudFoundryCreateService.md
        - cloudFoundryCreateServiceKey: steps/cloudFoundryCreateServiceKey.md
        - cloudFoundryDeleteService: steps/cloudFoundryDeleteService.md
        - cloudFoundryDeploy: steps/cloudFoundryDeploy.md
        - commonPipelineEnvironment: steps/commonPipelineEnvironment.md
        - containerExecuteStructureTests: steps/containerExecuteStructureTests.md
        - containerPushToRegistry: steps/containerPushToRegistry.md
        - detectExecuteScan: steps/detectExecuteScan.md
        - dockerExecute: steps/dockerExecute.md
        - dockerExecuteOnKubernetes: steps/dockerExecuteOnKubernetes.md
        - dubExecute: steps/dubExecute.md
        - durationMeasure: steps/durationMeasure.md
        - fortifyExecuteScan: steps/fortifyExecuteScan.md
        - gaugeExecuteTests: steps/gaugeExecuteTests.md
        - githubPublishRelease: steps/githubPublishRelease.md
        - hadolintExecute: steps/hadolintExecute.md
        - handlePipelineStepErrors: steps/handlePipelineStepErrors.md
        - healthExecuteCheck: steps/healthExecuteCheck.md
        - influxWriteData: steps/influxWriteData.md
        - jenkinsMaterializeLog: steps/jenkinsMaterializeLog.md
        - kanikoExecute: steps/kanikoExecute.md
        - karmaExecuteTests: steps/karmaExecuteTests.md
        - kubernetesDeploy: steps/kubernetesDeploy.md
        - mailSendNotification: steps/mailSendNotification.md
        - malwareExecuteScan: steps/malwareExecuteScan.md
        - mavenExecute: steps/mavenExecute.md
        - mavenExecuteStaticCodeChecks: steps/mavenExecuteStaticCodeChecks.md
        - mtaBuild: steps/mtaBuild.md
        - multicloudDeploy: steps/multicloudDeploy.md
        - neoDeploy: steps/neoDeploy.md
        - newmanExecute: steps/newmanExecute.md
        - nexusUpload: steps/nexusUpload.md
        - npmExecute: steps/npmExecute.md
        - pipelineExecute: steps/pipelineExecute.md
        - pipelineRestartSteps: steps/pipelineRestartSteps.md
        - pipelineStashFiles: steps/pipelineStashFiles.md
        - pipelineStashFilesAfterBuild: steps/pipelineStashFilesAfterBuild.md
        - pipelineStashFilesBeforeBuild: steps/pipelineStashFilesBeforeBuild.md
        - piperPublishWarnings: steps/piperPublishWarnings.md
        - prepareDefaultValues: steps/prepareDefaultValues.md
        - protecodeExecuteScan: steps/protecodeExecuteScan.md
        - seleniumExecuteTests: steps/seleniumExecuteTests.md
        - setupCommonPipelineEnvironment: steps/setupCommonPipelineEnvironment.md
        - slackSendNotification: steps/slackSendNotification.md
        - snykExecute: steps/snykExecute.md
        - sonarExecuteScan: steps/sonarExecuteScan.md
        - spinnakerTriggerPipeline: steps/spinnakerTriggerPipeline.md
        - testsPublishResults: steps/testsPublishResults.md
        - tmsUpload: steps/tmsUpload.md
        - transportRequestCreate: steps/transportRequestCreate.md
        - transportRequestRelease:  steps/transportRequestRelease.md
        - transportRequestUploadFile: steps/transportRequestUploadFile.md
        - uiVeri5ExecuteTests: steps/uiVeri5ExecuteTests.md
        - whitesourceExecuteScan: steps/whitesourceExecuteScan.md
        - xsDeploy: steps/xsDeploy.md
    - 'Library Steps (deprecated)':
        - artifactSetVersion: steps/artifactSetVersion.md
    - 'Command line tool': cli/index.md
    - Resources:
        - 'Custom Jenkins Setup': customjenkins.md

theme:
    name: 'material'
    palette:
      primary: 'teal'
      accent: 'purple'
    logo: 'images/piper_head_white.png'
    favicon: 'images/favicon.ico'
extra:
    font:
      text: 'Slabo 13px'
      code: 'Ubuntu Mono'
markdown_extensions:
    - admonition
    - codehilite(guess_lang=false)
    - toc(permalink=true)
    - footnotes
    - pymdownx.superfences
extra_css:
    - 'css/extra.css'
edit_uri: edit/master/documentation/docs
site_dir: docs-gen
repo_url: https://github.com/SAP/jenkins-library
