metadata:
  name: abapEnvironmentAssemblePackages
  description: "Assembly of installation, support package or patch in SAP BTP ABAP Environment system"
  longDescription: |
    This step runs the assembly of a list of provided [installations, support packages or patches](https://help.sap.com/viewer/9043aa5d2f834ad385e1cdfdadc06b6f/LATEST/en-US/9a81f55473568c77e10000000a174cb4.html) in SAP BTP ABAP Environment system and saves the corresponding [SAR archive](https://launchpad.support.sap.com/#/notes/212876) to the filesystem. Among others an [API snapshot](https://help.sap.com/docs/btp/sap-business-technology-platform/creating-api-snapshots?version=Cloud) will be
    searched and marked as check-relevant in the build system, ATC checks for [consistency of software component dependencies](https://help.sap.com/docs/abap-cloud/abap-development-tools-user-guide/software-component-relations) as well as [API compatibility](https://help.sap.com/docs/abap-cloud/abap-development-tools-user-guide/checking-compatibility-of-released-apis) will be running, and a new API snapshot will be created as well. Refer to [Software Assembly Integration (SAP_COM_0582)](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/26b8df5435c649aa8ea7b3688ad5bb0a.html).
spec:
  inputs:
    secrets:
      - name: abapCredentialsId
        description: Jenkins credentials ID containing user and password to authenticate to the Cloud Platform ABAP Environment system or the Cloud Foundry API
        type: jenkins
        aliases:
          - name: cfCredentialsId
          - name: credentialsId
    params:
      - name: cfApiEndpoint
        type: string
        description: Cloud Foundry API endpoint
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
          - GENERAL
        mandatory: false
        aliases:
          - name: cloudFoundry/apiEndpoint
      - name: cfOrg
        type: string
        description: Cloud Foundry target organization
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
          - GENERAL
        mandatory: false
        aliases:
          - name: cloudFoundry/org
      - name: cfSpace
        type: string
        description: Cloud Foundry target space
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
          - GENERAL
        mandatory: false
        aliases:
          - name: cloudFoundry/space
      - name: cfServiceInstance
        type: string
        description: Cloud Foundry Service Instance
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
          - GENERAL
        mandatory: false
        aliases:
          - name: cloudFoundry/serviceInstance
      - name: cfServiceKeyName
        type: string
        description: Cloud Foundry Service Key
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
          - GENERAL
        mandatory: false
        aliases:
          - name: cloudFoundry/serviceKey
          - name: cloudFoundry/serviceKeyName
          - name: cfServiceKey
      - name: host
        description: Specifies the host address of the SAP BTP ABAP Environment system
        type: string
        mandatory: false
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
          - GENERAL
      - name: username
        type: string
        description: User for either the Cloud Foundry API or the Communication Arrangement for SAP_COM_0582
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
        mandatory: true
        secret: true
      - name: password
        type: string
        description: Password for either the Cloud Foundry API or the Communication Arrangement for SAP_COM_0582
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
        mandatory: true
        secret: true
      - name: addonDescriptor
        type: string
        description: Structure in the commonPipelineEnvironment containing information about the Product Version and corresponding Software Component Versions
        mandatory: true
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
        resourceRef:
          - name: commonPipelineEnvironment
            param: abap/addonDescriptor
      - name: maxRuntimeInMinutes
        type: int
        description: maximal runtime of the step in minutes
        mandatory: true
        default: 360
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
      - name: pollIntervalsInMilliseconds
        type: int
        description: wait time in milliseconds till next status request in the backend system
        mandatory: true
        default: 60000
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
      - name: certificateNames
        type: "[]string"
        description: "file names of trusted (self-signed) server certificates - need to be stored in .pipeline/trustStore"
        mandatory: false
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
          - GENERAL
  outputs:
    resources:
      - name: commonPipelineEnvironment
        type: piperEnvironment
        params:
          - name: abap/addonDescriptor
  containers:
    - name: cf
      image: ppiper/cf-cli:v12
