metadata:
    name: abapEnvironmentAssembly
    description: Assembly of installation, support package or patch in SAP Cloud Platform ABAP Environment system
    longDescription: |
        Assembly of installation, support package or patch in SAP Cloud Platform ABAP Environment system      
spec:
  inputs:
    secrets:
      - name: abapCredentialsId
        description: Jenkins credentials ID containing user and password to authenticate to the Cloud Platform ABAP Environment system or the Cloud Foundry API
        type: jenkins
        aliases:
          - name: cfCredentialsId
          - name: credentialsId
    params:
      - name: cfApiEndpoint
        type: string
        description: Cloud Foundry API endpoint
        scope:
        - PARAMETERS
        - STAGES
        - STEPS
        - GENERAL
        mandatory: false
        aliases:
          - name: cloudFoundry/apiEndpoint
      - name: cfOrg
        type: string
        description: CF org
        scope:
        - PARAMETERS
        - STAGES
        - STEPS
        - GENERAL
        mandatory: false
        aliases:
          - name: cloudFoundry/org
      - name: cfSpace
        type: string
        description: CF Space
        scope:
        - PARAMETERS
        - STAGES
        - STEPS
        - GENERAL
        mandatory: false
        aliases:
          - name: cloudFoundry/space
      - name: cfServiceInstance
        type: string
        description: Parameter of ServiceInstance Name to delete CloudFoundry Service
        scope:
        - PARAMETERS
        - STAGES
        - STEPS
        - GENERAL
        mandatory: false
        aliases:
          - name: cloudFoundry/serviceInstance
      - name: host
        description: Specifies the host address of the SAP Cloud Platform ABAP Environment system
        type: string
        mandatory: false
        scope:
        - PARAMETERS
        - STAGES
        - STEPS
      - name: username
        type: string
        description: User or E-Mail for CF
        scope:
        - PARAMETERS
        - STAGES
        - STEPS
        mandatory: true
        secret: true
      - name: password
        type: string
        description: User Password for CF User
        scope:
        - PARAMETERS
        - STAGES
        - STEPS
        mandatory: true
        secret: true
      - name: repositories
        type: string
        description: repositories
        mandatory: true
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
        resourceRef:
          - name: commonPipelineEnvironment
            param: abap/repositories
      - name: maxRuntimeInMinutes
        type: int
        description: maximal runtime of the step
        mandatory: true
        default: 360
        scope:
          - PARAMETERS
          - STAGES
          - STEPS
  outputs:
    resources:
      - name: commonPipelineEnvironment
        type: piperEnvironment
        params:
          - name: abap/repositories
  containers:
    - name: cf
      image: ppiper/cf-cli
      imagePullPolicy: Never