name: "Documentation"

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    paths:
      - '**/*.md'

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    name: 'Format'
    steps:
    - uses: actions/checkout@v2
    - name: markdownlint
      uses: nosborn/github-action-markdown-cli@v1.1.1
      with:
        files: .
        config_file: ./.markdownlint.yml
