name: "Documentation"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - '**/*.md'

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    name: 'Format'
    steps:
      - uses: styfle/cancel-workflow-action@0.12.1
      - uses: actions/checkout@v4
      - name: Markdown Linting
        uses: nosborn/github-action-markdown-cli@v3.3.0
        with:
          files: .
