name: Go

on: [push]

jobs:
  generate-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: '1.13.x'
    - name: checkout
      uses: actions/checkout@v2
    - name: generate
      run: go run pkg/generator/step-metadata.go
    - name: format
      run: go fmt ./...
    - name: verify
      run: git diff --name-only --exit-code
  dependencies:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: '1.13.x'
    - name: checkout
      uses: actions/checkout@v2
    - name: cleanup dependencies
      run: go mod tidy
    - name: verify
      run: git diff --name-only --exit-code

